[submodule "core"]
	path = core
	url = https://github.com/itisrohit/core.git
[submodule "admin"]
	path = admin
	url = https://github.com/itisrohit/admin.git
[submodule "whatsapp"]
	path = whatsapp
	url = https://github.com/itisrohit/whatsapp.git
[submodule "telegram"]
	path = telegram
	url = https://github.com/itisrohit/telegram.git
[submodule "web"]
	path = web
	url = https://github.com/itisrohit/web.git
