[submodule "core"]
	path = core
	url = https://github.com/chasqui-stack/core.git
[submodule "admin"]
	path = admin
	url = https://github.com/chasqui-stack/admin.git
[submodule "whatsapp"]
	path = whatsapp
	url = https://github.com/chasqui-stack/whatsapp.git
[submodule "telegram"]
	path = telegram
	url = https://github.com/chasqui-stack/telegram.git
[submodule "web"]
	path = web
	url = https://github.com/chasqui-stack/web.git
